.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}

.viewport-container {
  margin-top: 10%;
  width: 100%;
  height: 300px;
  position: relative;
}

.modificaiton-buttons-container {
  width: 100%;
  height: 50px;
}
